html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    
}

body  {
    margin: 100px 20% 0% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.shifts {
    border-radius: 5px;
    border: solid #EAEDF2 1px;
}

.btn {
    padding: 6px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    width: 85px;
}

.btn-cancel {
    color:#E2600A;
    border: solid #FE93B3 1px;
}

.btn-cancel.btn-disabled {
    color: #eed2ef;
    border: solid #eed2ef 1px;
}

.btn-book {
    color:#16A64D;
    border: solid #55CB82 1px;
}

.btn-book.btn-disabled {
    color:#CAEFD8;
    border: solid #CAEFD8 1px;
}




.shifts__content {
    padding: 11px 5% 11px 2%;
    border-bottom: solid #F6F7FA 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shifts__status {
    font-weight: 600;
}

.shifts__status.shifts__status-booked {
    color: #4F6C92;
}


.shifts__status.shifts__status-overlapping {
    color: #E2006A;
}
